:root {
  --primary-color: #f82ba9;
  --secondary-color: #feedf7;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #757f95;
  --text-color: #160e4b;
  --yellow-color: #fba707;
  --red-color: #f05454;
  --violite-color: #8c52ff;
  --teal-color: #17a2b8;
  --light-blue-color: #00bfff;
  --green-color: #4caf50;
  --border-radius-small: 10px;
  --border-radius-medium: 14px;
  --border-radius-large: 20px;
  --border-radius-large-1: 30px;
  --border-radius-large-2: 50px;
  --font-size-50: 50px;
  --font-size-45: 45px;
  --font-size-34: 34px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-size-22: 22px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
}
