<div class="container rounded-2xl secondary-bg my-5 grid  md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mx-auto p-4">
<!-- 
    <app-static-info-item [statIcon]="'./images/Icon.png'" [statInfo]="'Free Delivery'" [statDetails]="'Orders Over $120'"></app-static-info-item>
    <app-static-info-item [statIcon]="'./images/Icon(1).png'" [statInfo]="'Get Refund'" [statDetails]="'Within 30 Days Returns'"></app-static-info-item>
    <app-static-info-item [statIcon]="'./images/Icon(2).png'" [statInfo]="'Safe Payment'" [statDetails]="'100% Secure Payment'"></app-static-info-item>
    <app-static-info-item [statIcon]="'./images/Icon(3).png'" [statInfo]="'24/7 Support'" [statDetails]="'Feel Free To Call Us'"></app-static-info-item> -->


    <app-category [catImg]="'./images/Icon.png'" [catName]="'Free Delivery'" [catCount]="'Orders Over $120'" [custWidth]="'w-14'" [custHeight]="'h-14'" ></app-category>
    <app-category [catImg]="'./images/Icon(1).png'" [catName]="'Get Refund'" [catCount]="'Within 30 Days Returns'" [custWidth]="'w-14'" [custHeight]="'h-14'"></app-category>
    <app-category [catImg]="'./images/Icon(2).png'" [catName]="'Safe Payment'" [catCount]="'100% Secure Payment'" [custWidth]="'w-14'" [custHeight]="'h-14'"></app-category>
    <app-category [catImg]="'./images/Icon(3).png'" [catName]="'24/7 Support'" [catCount]="'Feel Free To Call Us'" [custWidth]="'w-14'" [custHeight]="'h-14'"></app-category>
</div>


<!-- 

    <div class="child  p-4 flex rounded-xl">
        <div class=" ">
            <div class="w-20 h-20 rounded-full flex justify-center items-center primary-bg">
                icon
            </div>
        </div>
        <div class="  ps-6 flex justify-center  flex-col">
            <h4 class="blue-color font-18 font-semibold">Free Delivery</h4>
            <p class="gray-color font-16">Orders Over $120</p>
        </div>
    </div>
    <div class="child  p-4 flex rounded-xl">
        <div class=" ">
            <div class="w-20 h-20 rounded-full flex justify-center items-center primary-bg">
                icon
            </div>
        </div>
        <div class="  ps-6 flex justify-center  flex-col">
            <h4 class="blue-color font-18 font-semibold">Get Refund</h4>
            <p class="gray-color font-16">Within 30 Days Returns</p>
        </div>
    </div>
    <div class="child  p-4 flex rounded-xl">
        <div class=" ">
            <div class="w-20 h-20 rounded-full flex justify-center items-center primary-bg">
                icon
            </div>
        </div>
        <div class="  ps-6 flex justify-center  flex-col">
            <h4 class="blue-color font-18 font-semibold">Safe Payment</h4>
            <p class="gray-color font-16">100% Secure Payment</p>
        </div>
    </div>
    <div class="child  p-4 flex rounded-xl">
        <div class=" ">
            <div class="w-20 h-20 rounded-full flex justify-center items-center primary-bg">
                icon
            </div>
        </div>
        <div class="  ps-6 flex justify-center  flex-col">
            <h4 class="blue-color font-18 font-semibold">24/7 Support</h4>
            <p class="gray-color font-16">Feel Free To Call Us</p>
        </div>
    </div>

-->