/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/_variables";

.primary-color {
  color: var(--primary-color);
}
.primary-bg {
  background-color: var(--primary-color);
}
.secondary-bg {
  background-color: var(--secondary-color);
}
.white-color {
  color: var(--white-color);
}
.white-bg {
  background-color: var(--white-color);
}
.black-color {
  color: var(--black-color);
}
.gray-color {
  color: var(--gray-color);
}
.blue-color {
  color: var(--text-color);
}
.blue-bg {
  background-color: var(--text-color);
}
.yellow-bg {
  background-color: var(--yellow-color);
}
.red {
  color: var(--red-color);
}
.red-bg {
  background-color: var(--red-color);
}
.teal-bg {
  background-color: var(--teal-color);
}
.green-bg {
  background-color: var(--green-color);
}
.violite-bg {
  background-color: var(--violite-color);
}
.light-blue-bg {
  background-color: var(--light-blue-color);
}

.border-radius-10 {
  border-radius: var(--border-radius-small);
}
.border-radius-14 {
  border-radius: var(--border-radius-medium);
}
.border-radius-20 {
  border-radius: var(--border-radius-large);
}
.border-radius-30 {
  border-radius: var(--border-radius-large-1);
}
.border-radius-50 {
  border-radius: var(--border-radius-large-2);
}

.font-50 {
  font-size: calc(var(--font-size-50) / 16 * 1rem);
}
.font-45 {
  font-size: calc(var(--font-size-45) / 16 * 1rem);
}
.font-34 {
  font-size: calc(var(--font-size-34) / 16 * 1rem);
}
.font-32 {
  font-size: calc(var(--font-size-32) / 16 * 1rem);
}
.font-28 {
  font-size: calc(var(--font-size-28) / 16 * 1rem);
}
.font-22 {
  font-size: calc(var(--font-size-22) / 16 * 1rem);
}
.font-20 {
  font-size: calc(var(--font-size-20) / 16 * 1rem);
}
.font-18 {
  font-size: calc(var(--font-size-18) / 16 * 1rem);
}
.font-16 {
  font-size: calc(var(--font-size-16) / 16 * 1rem);
}
.font-14 {
  font-size: calc(var(--font-size-14) / 16 * 1rem);
}
.font-12 {
  font-size: calc(var(--font-size-12) / 16 * 1rem);
}
.inter,
.roboto {
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", serif;

  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
}
.roboto {
  font-family: "Roboto", serif;

  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
}
